{% load staticfiles%}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UFT-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=7">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
	<link rel="stylesheet" href="{% static 'css/styles.css'%}">
	<script src="{% static 'js/scripts.js'%}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
	<script>
		function myFunction(x) {
			x.classList.toggle("fas fa-heart");
		}
	</script>
	<div>
		<div id="header">
			<div id="Eng">
				<p>
					English
				</p>
			</div>
			<div id="quote">
				<p>
					The awards of design, creativity and innovation on the internet
				</p>
			</div>
			<div id="socials">
				<p>
					<i class="fa fa-instagram" aria-hidden="true"></i>
					<br>
					<i class="fa fa-twitter" aria-hidden="true"></i>
					<br>
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</p>
			</div>
		</div>
		<div id="header2">
			<div id="menu">
				<i class="fa fa-bars" aria-hidden="true">Menu</i>
			</div>
			<div id="search">
				<i class="fa fa-search" aria-hidden="true"></i>
			</div>
			<div id="logo">
				awwwards.
			</div>
			<div id="reg">
				REGISTER / LOG IN
			</div>
			<div id="submit_button">
				SUBMIT YOUR SITE!
			</div>
		</div>
		<div>
			<iframe src="https://lagutalaguta.com/" frameborder="0"></iframe>
		</div>
	</div>
</body>

</html>